<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil Instagram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="about-component.css"> 
</head>
<body class="bg-light">

    <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="card" style="width: 30rem;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;box-shadow: 2px 2px 16px 8px rgba(0,0,0,0.1);min-width: 300px;border-style: none;max-width: 100%;margin: 16px;">
            <div style="width: 100%;height: 230px;background: url('https://scontent.fqro3-1.fna.fbcdn.net/v/t39.30808-6/476647405_2162360787553405_420286797410454555_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEgmjAXj0Z-UNzoca_tGbbYIVed1jWRSO4hV53WNZFI7gG5qd3FHqRbRH_hbpGl8p9JoMDh2rK_kqJIsJXMjgrS&_nc_ohc=9Y21-VWd4VEQ7kNvgHrMahG&_nc_oc=AdgijKTZW_xxNpeH0yYcXuzbrIYcPgioIh6O64l2LrPXsgxEA1HS4JTMRZ5v0P8Jom8&_nc_zt=23&_nc_ht=scontent.fqro3-1.fna&_nc_gid=ARettyPDp5fw6bxijREJDRl&oh=00_AYF3zl81sFbA9IV6winKG3ILZYT6gYB-ckefPatv7DvQrw&oe=67D7923A') top / cover;border-top-left-radius: 20px;border-top-right-radius: 20px;position: relative;">
                <div class="d-flex flex-row justify-content-center align-items-center" style="border-radius: 39px;width: 60px;height: 60px;position: absolute;bottom: -31px;right: 20px;">
                    <div id="modal_image" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" style="margin-top: 16vh;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: #e93ee0;letter-spacing: 1px;">Maquiagem Artística</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">
                                        
                                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                        <div class="carousel-indicators"><button class="active" type="button" data-bs-target="#carousel-1" data-bs-slide-to="0"></button><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" style="font-family: 'Source Sans Pro', sans-serif;background: #b86868;color: rgb(255,255,255);border-radius: 25px;margin-bottom: 4px;padding-right: 16px;padding-left: 16px;box-shadow: 2px 2px 12px rgba(117,117,117,0.77);border-style: none;" data-bs-dismiss="modal">Fechar</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body d-flex flex-column justify-content-between" style="padding-bottom: 20px;height: 439px;">
                <div>
                    <h6 class="text-muted d-inline mb-2" style="color: #383737;font-size: 20px;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;border-bottom-right-radius: 10px;border-top-right-radius: 10px;margin-left: -20px;padding-left: 20px;padding-right: 8px;padding-bottom: 2px;background: #cdcf66;padding-top: 2px;">ING. en TICS</h6>
                    <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(163, 61, 150);margin-bottom: 8px;margin-top: 22px;">Leila Hernández</h4>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;">Hola, soy Leila</p>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;">Soy estudiante de Tecnologías de la Información, apasionada por el desarrollo de software y la gestión de redes. Me encanta aprender nuevos lenguajes de programación y enfrentar desafíos tecnológicos.<br /><br />Actualmente, estoy en constante aprendizaje de Python y Java, y sueño con crear mi propia empresa tecnológica.</p>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;">En mi tiempo libre, disfruto del crossfit y cuidar a mi gatito Buba.</p>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
